<!DOCTYPE html>
<html>
    <head>
        <title>Pots & Posts</title>
        <link rel="stylesheet" href="jei/style.css">
        <link rel="stylesheet" href="main_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap" rel="stylesheet">
    </head>
    <body>

        <header>
            <div id="logo_bg">
                <img src="../media/ellipse.png">
            </div>
            <div id="logo">
                <img src="../media/logo.png">
            </div>
            <div id="headerText">Pots & Posts</div>
        </header>

        <main>

            <div id="left" class="sidebar">
                <div id="user">
                    <a href="/profile">
                    <img src="profilePics/{{userData.userID}}.jpg">
                    <p>{{userData.username}}</p>
                    </a>
                </div>
                <div id="sidebarMenu">
                    <a href="/main_forum">
                    <div id="home" class="container">
                        <img src="../media/home.png">
                        <p>Home</p>
                    </div></a>
                    <div class="container">
                        <img src="../media/settings.png">
                        <p>Settings</p>
                    </div>
                    <div id="post" class="container">
                        <img src="../media/add.png">
                        <p>Post</p>
                    </div>
                </div>
            </div>

             <!-- MIDDLE SECTION:-->
             <div id="middle">
                
                <!-- PROFILE at top -->
                <div id="profileBox">
                        <a href="/profile">
                        <!-- profile picture is reached using the user ID since a user is expected to have only one profile picture-->
                        <img id="bigPic" src="profilePics/{{userData.userID}}.jpg">
                        <div id="profileDetails">
                            <h2>{{userData.username}}</h2></a>
                        <p>
                            {{userData.bio}}
                        </p>
                    </div>
                </div>

                <!-- The existing edit form container -->
                <div id="editProfilePage"> 
                    <form action="update_profile" method="POST" enctype="multipart/form-data">
                        <input title="profile image" type="file" name="profilePic" style="margin-bottom:10px">
                        <div id="editProfileDetails">
                        <textarea id="bioInput" name="InputUsername" placeholder="Username..." style="height: 40px; font-size: 30px;">{{userData.username}}</textarea>
                        <textarea id="bioInput" name="description" autocomplete="off" placeholder="Write something about yourself...">{{userData.bio}}</textarea>
                        <button id="saveBtn" type="submit">Save</button>
                    </form>
                </div>
            </div>

            <div id="right" class="sidebar">
                <form>
                    <div class="search">
                        <img src="../media/search.png">
                        <input class="search-input" type="search" placeholder="search">
                    </div>
                </form>

                <div id="editLogMenu">
                    <a href="/edit_profile">
                    <div class="container">
                        <img src="../media/edit-profile.png" alt="Edit Icon">
                        <p>Edit Profile</p>
                    </div></a>
                    <a href="/logout">
                    <div class="container">
                        <img src="../media/logout.png" alt="Log out Icon">
                        <p>Log out</p>
                    </div></a>
                </div>
            </div>

            <div id="center">
                
            </div>

        </main>

    </body>
</html>
