<!DOCTYPE html>
<html>
    <head>
        <title>Pots & Posts</title>
        <link rel="stylesheet" href="jei/style.css">
        <link rel="stylesheet" href="main_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap" rel="stylesheet">
    </head>
    <body>

        <header>
            <div id="logo_bg">
                <img src="../media/ellipse.png">
            </div>
            <div id="logo">
                <img src="../media/logo.png">
            </div>
            <div id="headerText">Pots & Posts</div>
        </header>

        <main>
            <div id="left" class="sidebar">
                <div id="user">
                    <a href="/profile">
                    <img src="profilePics/{{userData.userID}}.jpg">
                    <p>{{userData.username}}</p>
                    </a>
                </div>
                <div id="sidebarMenu">  
                    <a href="/main_forum">
                    <div id="home" class="container">
                        <img src="../media/home.png">
                        <p>Home</p>
                    </div></a>
                    <a href="/about"><div class="container">
                        <img src="../media/settings.png">
                        <p>About</p>
                    </div></a>
                    <a href="/make_post"><div id="post" class="container">
                        <img src="../media/add.png">
                        <p>Post</p>
                    </div></a>
                </div>
            </div>

             <!-- MIDDLE SECTION:-->
            <div id="middle">
                
                <!-- PROFILE at top -->
                <div id="profileBox">
                    <!-- profile picture is reached using the user ID since a user is expected to have only one profile picture-->
                    <img id="bigPic" src="profilePics/{{profileUser.userID}}.jpg">
                    <div id="profileDetails">
                        <h2>{{profileUser.username}}</h2>
                        <p>
                            {{profileUser.bio}}
                        </p>
                    </div>
                </div>

                {{#each posts}}
                    <div class="post_box">
                        <div class="post_username_section">
                            <img src="profilePics/{{this.authorID}}.jpg" class="post_profile_pic">
                            <span class="post_username">{{this.author}} | {{this.date}}</span>
                        </div>
                        <div class="post_header">{{this.header}}</div>
                        {{#if this.edited}}
                            <div id="post_edit_indicator" class="post_edit_indicator">edited</div>
                        {{/if}}
                        <div id="post_text" class="post_text">{{{highlightHashtags this.content}}}</div>
                        {{#if this.img}}
                            <div class="post_photo">
                                <img src="/media/{{this.img}}" alt="{{this.img}}">
                            </div>
                        {{/if}}
                        <div class="post_interactions">
                            <button class="btn" onclick="addPopUp(this, 'close_comment_popUp_{{this._id}}', 'comment_popUp_{{this._id}}')">
                                <img src="../media/comment.png" alt="Comment">
                            </button>
                            <button class="btn" onclick="liked(this)"><img src="../media/upvote.png" alt="Thumbs Up"></button>
                            <button class="btn" onclick="disliked(this)"><img src="../media/downvote.png" alt="Thumbs Down"></button>
                            <button class="btn"><img src="../media/share.png" alt="Share"></button>
                            {{#if (eq this.authorID ../userData.userID)}}
                                <a href="/edit_post?postId={{this._id}}" class="btn"><img src="../media/edit-post.png" alt="Edit"></a>
                                <a href="/delete_post?postId={{this._id}}" class="btn" onclick="return confirm('Are you sure?')"><img src="../media/delete-post.png" alt="Delete"></a>
                            {{/if}}
                        </div>
                    </div>

                    <!-- Unique Comment Modal -->
                    <div class="modal btn comment_popUp" id="comment_popUp_{{this._id}}">
                        <div class="modal-inner">
                            <button id="close_comment_popUp_{{this._id}}" class="btn close_comment_popUp"><img src="../media/close.png"></button>
                            <form action="/add_comment" method="POST">
                                <textarea name="commentContent" class="textArea" placeholder="Share your thoughts..." required></textarea>
                                <input type="hidden" name="postId" value="{{this._id}}">
                                <button type="submit" id="post_comment" class="btn">Comment</button>
                            </form>
                        </div>
                    </div>
                {{/each}}

            </div>

            <div id="right" class="sidebar">
                <form>
                    <div class="search">
                        <img src="../media/search.png">
                        <input class="search-input" type="search" placeholder="search">
                    </div>
                </form>

                {{#if (eq userData.userID profileUser.userID)}}
                    <div id="editLogMenu">
                        <a href="/edit_profile">
                            <div class="container">
                                <img src="../media/edit-profile.png" alt="Edit Icon">
                                <p>Edit Profile</p>
                            </div>
                        </a>
                        <a href="/logout">
                            <div class="container">
                                <img src="../media/logout.png" alt="Log out Icon">
                                <p>Log out</p>
                            </div>
                        </a>
                    </div>
                {{/if}}

            </div>

            <div id="center">
                
            </div>

        </main>
        <script src="lui/javascript.js"></script>
    </body>
</html>
